<div class="container d-flex align-items-center justify-content-center">
  <div class="alert alert-primary" role="alert">
    Sorry, operation on <%= resource_type.downcase %> could not complete!
  </div>
</div>